<section class="ui modal" id="addAssessment{{#if id}}{{id}}{{/if}}"> <i class="close icon"></i>
  <header class="header">Add Assessment for {{userName}} {{user.name}} {{name}}</header>
  <div class="content">
    <form class="ui segment form" action="/assessments/addassessment/{{#if user.id}}{{user.id}}{{else if userid}}{{userid}}{{else}}{{id}}{{/if}}" method="POST">
      <section class="three fields">
        <div class="field">
          <label>Weight</label>
          <div class="ui input left icon">
            <i class="law icon"></i>
            <input placeholder="00.00kg" type="text" name="weight">
          </div>
        </div>
        <div class="field">
          <label>Chest</label>
          <div class="ui input left icon">
            <i class="write icon"></i>
            <input placeholder="00.00cm" type="text" name="chest">
          </div>
        </div>
        <div class="field">
          <label>Thigh</label>
          <div class="ui input left icon">
            <i class="write icon"></i>
            <input placeholder="00.00cm" type="text" name="thigh">
          </div>
        </div>
      </section>
      <section class="three fields">
        <div class="field">
          <label>Upper Arm</label>
          <div class="ui input left icon">
            <i class="write icon"></i>
            <input placeholder="00.00cm" type="text" name="upperArm">
          </div>
        </div>
        <div class="field">
          <label>Waist</label>
          <div class="ui input left icon">
            <i class="write icon"></i>
            <input placeholder="00.00cm" type="text" name="waist">
          </div>
        </div>
        <div class="field">
          <label>Hips</label>
          <div class="ui input left icon">
            <i class="write icon"></i>
            <input placeholder="00.00cm" type="text" name="hips">
          </div>
        </div>
      </section>
      <section class="field">
        <label>Comment</label>
        <div class="ui input left icon">
          <i class="comment icon"></i>
          <input placeholder="Comment" name="comment">
        </div>
      </section>
      <button class="ui blue submit button"><i class="plus icon"></i> Add Assessment </button>
    </form>
  </div>
</section>