<section class="ui modal" id="addBooking{{#if id}}{{id}}{{/if}}"> <i class="close icon"></i>
  <header class="header">Book Assessment</header>
  <div class="content">
    <form class="ui segment form" action="/bookings/addbooking/{{#if user.id}}{{user.id}}{{else if userid}}{{userid}}{{else}}{{id}}{{/if}}" method="POST">
      <section class="two fields">
        <section class="field calender" id="dateTime{{id}}">
          <label>Date/time</label>
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input placeholder="Date/Time" type="text" name="dateTime">
          </div>
        </section>
        <section class="field">
          <label>Trainer Name</label>
          <div class="ui selection dropdown">
            <i class="user icon"></i>
            <input type="hidden" name="trainer">
            <i class="dropdown icon"></i>
            <div class="default text">Trainer Name</div>
            <div class="menu">
              {{#each allTrainers}}
                <div class="item" data-value="{{name}}">{{name}}</div>
              {{/each}}
            </div>
          </div>
        </section>
      </section>
      <button class="ui blue submit button"><i class="plus icon"></i> Book Assessment </button>
      <div class="ui error message"></div>
    </form>
  </div>
</section>
