<section class="ui modal" id="addFitnessProgramme{{#if id}}{{id}}{{/if}}"> <i class="close icon"></i>
  <header class="header">Build Fitness Programme for {{userName}} {{user.name}} {{name}}</header>
  {{#unless (checkForProgramme id)}}
    <div class="ui negative message">
      <i class="close icon"></i>
      <div class="header">
        {{userName}} {{user.name}} {{name}} already has a fitness programme. Building a new programme will lose any custom changes to routines
      </div>
    </div>
  {{/unless}}
  <div class="content">
    <form class="ui segment form" action="/trainerDashboard/buildProgramme/{{#if user.id}}{{user.id}}{{else if userid}}{{userid}}{{else}}{{id}}{{/if}}" method="POST">
      <section class="field">
        <label>1. First Exercise Session</label>
        {{> addIndividualProgramme value='first'}}
      </section>
      <section class="field">
        <label>2. Second Exercise Session</label>
        {{> addIndividualProgramme value='second'}}
      </section>
      <section class="field">
        <label>3. Third Exercise Session</label>
        {{> addIndividualProgramme value='third'}}
      </section>
      <section class="field">
        <label>4. Fourth Exercise Session</label>
        {{> addIndividualProgramme value='fourth'}}
      </section>
      <section class="field">
        <label>5. Fifth Exercise Session</label>
        {{> addIndividualProgramme value='fifth'}}
      </section>
      <button class="ui blue submit button"><i class="plus icon"></i> Build Fitness Programme </button>
      <div class="ui error message"></div>
    </form>
  </div>
</section>
