<section class="ui modal" id="addGoal{{#if id}}{{id}}{{/if}}"> <i class="close icon"></i>
  <header class="header">Add Goal</header>
  <div class="content">
    <form class="ui segment form" action="/goals/addgoal/{{#if user.id}}{{user.id}}{{else if userid}}{{userid}}{{else}}{{id}}{{/if}}" method="POST">
      <section class="three fields">
        <div class="field">
          <label>Weight</label>
          <div class="ui input left icon">
            <i class="law icon"></i>
            <input placeholder="00.00kg" type="text" name="weight">
          </div>
        </div>
        <div class="field">
          <label>Chest</label>
          <div class="ui input left icon">
            <i class="write icon"></i>
            <input placeholder="00.00cm" type="text" name="chest">
          </div>
        </div>
        <div class="field">
          <label>Thigh</label>
          <div class="ui input left icon">
            <i class="write icon"></i>
            <input placeholder="00.00cm" type="text" name="thigh">
          </div>
        </div>
      </section>
      <section class="three fields">
        <div class="field">
          <label>Upper Arm</label>
          <div class="ui input left icon">
            <i class="write icon"></i>
            <input placeholder="00.00cm" type="text" name="upperArm">
          </div>
        </div>
        <div class="field">
          <label>Waist</label>
          <div class="ui input left icon">
            <i class="write icon"></i>
            <input placeholder="00.00cm" type="text" name="waist">
          </div>
        </div>
        <div class="field">
          <label>Hips</label>
          <div class="ui input left icon">
            <i class="write icon"></i>
            <input placeholder="00.00cm" type="text" name="hips">
          </div>
        </div>
      </section>
      <section class="two fields">
        <div class="field">
          <label>Description</label>
          <div class="ui input left icon">
            <i class="comment icon"></i>
            <input placeholder="Description" name="description">
          </div>
        </div>
        <section class="field calender" id="dateOnly{{id}}">
          <label>Achieve by Date</label>
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input placeholder="Date" type="text" name="dateOnly">
          </div>
        </section>
      </section>
      <button class="ui blue submit button"><i class="plus icon"></i> Add Goal </button>
      <div class="ui error message"></div>
    </form>
  </div>
</section>