<section class="center aligned content">
  {{#if isTrainer}}
    <section class="center aligned content">
      <div class="ui dropdown teal button"><i class="options icon"></i>Options
        <i class="dropdown icon"></i>
        <section class="menu">
          <div class="item" data-modal="view{{id}}"><i class="green unhide icon"></i> View Enrolled</div>
          {{> listEnrolledMembers}}

          <div class="item" data-modal="{{id}}"><i class="blue edit icon"></i> Edit Details</div>
          {{> updateSessions}}

          <a class="item" href="/classes/{{classes.id}}/deletesession/{{id}}">
            <i class="red delete icon"></i> Delete Session
          </a>
        </section>
      </div>
    </section>
  {{else}}
    <section class="ui one column basic grid container">
      {{#if (checkIsInPast dateTime)}}
        <div class="column">
          <button class="ui grey button"><i class="minus square icon"></i> Unavailable</button>
        </div>
      {{else if (checkEnrolled classes.id id userId) }}
        <a class="column" href="/classes/{{classes.id}}/unEnroll/{{id}}">
          <button class="ui red submit button"><i class="square outline icon"></i> Un-enroll</button>
        </a>
      {{else}}
        <form class="column" action="/classes/{{classes.id}}/enroll/{{id}}" method="POST">
          <button class="ui blue submit button"><i class="checkmark box icon"></i> Enroll</button>
        </form>
      {{/if}}
    </section>
  {{/if}}
</section>