<a class="content" href={{#if href}} {{href}} {{else}} "/fitness/{{id}}" {{/if}}>
  <div class="center aligned content">
    <img class="ui middle aligned circular small image" {{#if image}} src="{{image}}" {{else}} src="http://res.cloudinary.com/dv6skh7wa/image/upload/v1502356582/Node%20Gym/routine.png" {{/if}}>
  </div>
  <div class="center aligned header">
    {{name}}
  </div>
</a>