<a class="content" href="/classes/{{id}}">
  <div class="center aligned content">
    <img class="ui middle aligned circular small image" {{#if image}} src="{{image}}" {{else}} src="http://s3.amazonaws.com/wpd-assets/ymcanewyork/uploads/sub-class-thumbs/family-yoga-pilates-icon.png" {{/if}}>
  </div>
  <div class="center aligned header">{{name}}</div>

  <section class="ui two column grid">
    <section class="column">
      <div class="meta row">Difficulty:</div>
      <div class="meta row">Sessions:</div>
      <div class="meta row">Duration:</div>
    </section>
    <section class="column">
      <div class="meta row">{{#if difficulty}}{{difficulty}}{{else}}Unset{{/if}}</div>
      <div class="meta row">{{numSessions}}</div>
      <div class="meta row">{{duration}} minutes</div>
    </section>
  </section>
</a>