<section class="ui modal" id="{{id}}"> <i class="close icon"></i>
  <header class="header">{{name}}</header>
  <div class="content">
    <form class="ui segment form" action="/fitness/update/{{id}}" method="POST">
      <div class="two fields">
        <div class="field">
          <label>Routine Name</label>
          <div class="ui input left icon">
            <i class="table icon"></i>
            <input placeholder="Routine Name" type="text" name="name" value="{{name}}">
          </div>
        </div>
        <div class="field">
          <label>Image Url</label>
          <div class="ui input left icon">
            <i class="image icon"></i>
            <input placeholder="Image Url" type="text" name="image" value="{{image}}">
          </div>
        </div>
      </div>
      <div class="field">
        <label>Description</label>
        <textarea placeholder="Description" name="description" rows="2">{{description}}</textarea>
      </div>
      <button class="ui blue submit button"><i class="save icon"></i> Update Routine </button>
      <div class="ui error message"></div>
    </form>
  </div>
</section>