<section class="ui modal" id="{{id}}"> <i class="close icon"></i>
  <header class="header">{{classes.name}}</header>
  <div class="content">
    <form class="ui segment form" action="/classes/{{classes.id}}/updateSession/{{id}}" method="POST">
      <section class="three fields">
        <section class="field">
          <label>Location</label>
          <div class="ui input left icon">
            <i class="location arrow icon"></i>
            <input placeholder="Location" type="text" name="location" value="{{location}}">
          </div>
        </section>
        <section class="field calender" id="cal{{id}}">
          <label>Date/time</label>
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input placeholder="Date/Time" type="text" name="dateTime" value="{{dateTime}}">
          </div>
        </section>
        <section class="field">
          <label>Capacity</label>
          <div class="ui input left icon">
            <i class="users icon"></i>
            <input placeholder="Capacity" type="text" name="capacity" value="{{capacity}}">
          </div>
        </section>
      </section>
      <button class="ui blue submit button"><i class="save icon"></i> Update Session </button>
      <div class="ui error message"></div>
    </form>
  </div>
</section>