{{#if isTrainer}}
  {{> trainermenu id="workout"}}

  <section class="ui center aligned basic segment">
    <a class="ui blue submit button item" data-modal="addProgramme">
      <i class="white plus icon"></i> New Routine
    </a>
  </section>

  <div class="ui container">
    <div class="ui centered four doubling stackable cards">
      {{#each routines}}
        <div class="ui link card">
          {{> listRoutines}}
          <section class="center aligned content">
            <div class="ui dropdown teal button"><i class="options icon"></i>Options
              <i class="dropdown icon"></i>
              <section class="menu">
                <div class="item" data-modal="{{id}}"><i class="blue edit icon"></i> Edit Details</div>
                {{> updateRoutine}}
                <a class="item" href="/fitness/delete/{{id}}">
                  <i class="red delete icon"></i> Delete Routine
                </a>
              </section>
            </div>
          </section>
        </div>
      {{/each}}
    </div>
  </div>

  {{> addRoutine}}
{{else}}
  {{> menu id="fitness"}}
  <div class="ui container">
    {{#if user.program}}
      <section class="ui container">
        <div class="ui centered five doubling stackable cards">
          {{#each user.program}}
            <div class="ui link card">
              {{#if type}}
                {{> listRoutines href=(constructHref type classId) }}
              {{else}}
                {{> listRoutines href=(constructHref ../user.id id)}}
              {{/if}}
            </div>
          {{/each}}
        </div>
      </section>
      <section class="ui center aligned segment">
        Tired of the same routine? Book for a re-assessment with a trainer to build a new programme just for you.
      </section>
    {{else}}
      <section class="ui center aligned segment">
        You don't have a fitness programme. Book an assessment with a trainer to build a programme geared for you !!
      </section>
    {{/if}}
  </div>
{{/if}}