{{#if isTrainer}}
  {{> trainermenu id="settings"}}
{{else}}
  {{> menu id="settings"}}
{{/if}}

{{> message}}

<div class="ui container">
  <div class="ui centered two doubling stackable cards">
    <section class="ui link card">
      <section class="center aligned content">
        <img 
             src="http://res.cloudinary.com/dv6skh7wa/image/upload/v1500152762/Node%20Gym/login.png" >
      </section>


      <section class="content">
        <section class="ui two column grid">
          <div class="column">
            <div class="row"><i class="user icon"></i>Name:</div>
            <div class="row"><i class="mail icon"></i>Email:</div>
            <div class="row"><i class="lock icon"></i>Password:</div>
            <div class="row"><i class="home icon"></i>Address:</div>
            <div class="row"><i class="genderless icon"></i>Gender:</div>
            <div class="row"><i class="resize vertical icon"></i>Height:</div>
            <div class="row"><i class="law icon"></i>Starting Weight:</div>
          </div>
          <div class="column">
            <div class="row">{{user.name}}</div>
            <div class="row">{{user.email}}</div>
            <div class="row">{{user.password}}</div>
            <div class="row">{{user.address}}</div>
            <div class="row">{{user.gender}}</div>
            <div class="row">{{user.height}}</div>
            <div class="row">{{user.startingweight}}</div>
          </div>
        </section>
      </section>
    </section>

    <section class="ui link card">
      <form class="ui content form" action="/updateSettings" method="POST">
        <h3 class="ui header">Update Account Details</h3>
        <div class="two fields">
          <div class="field">
            <label>Name</label>
            <div class="ui input left icon">
              <i class="user icon"></i>
              <input placeholder="Name" type="text" name="name" value="{{user.name}}">
            </div>
          </div>
          <div class="field">
            <label>Gender</label>
            <div class="ui selection dropdown">
              <i class="genderless icon"></i>
              <input type="hidden" name="gender" value="{{user.gender}}">
              <i class="dropdown icon"></i>
              <div class="default text">Gender</div>
              <div class="menu">
                <div class="item" data-value="Male">Male</div>
                <div class="item" data-value="Female">Female</div>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Email</label>
          <div class="ui input left icon">
            <i class="mail icon"></i>
            <input placeholder="Email" type="text" name="email" value="{{user.email}}">
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui input left icon">
            <i class="lock icon"></i>
            <input placeholder="Password" type="password" name="password" value="{{user.password}}">
          </div>
        </div>
        <div class="field">
          <label>Confirm Password</label>
          <div class="ui input left icon">
            <i class="lock icon"></i>
            <input placeholder="Confirm Password" type="password" name="confirmPassword">
          </div>
        </div>
        <div class="field">
          <label>Address</label>
          <div class="ui input left icon">
            <i class="home icon"></i>
            <input placeholder="Address" type="text" name="address" value="{{user.address}}">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Height</label>
            <div class="ui input left icon">
              <i class="resize vertical icon"></i>
              <input placeholder="Height" type="text" name="height" value="{{user.height}}">
            </div>
          </div>
          <div class="field">
            <label>Starting Weight</label>
            <div class="ui input left icon">
              <i class="law icon"></i>
              <input placeholder="Starting Weight" type="text" name="startingweight" value="{{user.startingweight}}">
            </div>
          </div>
        </div>
        <button class="ui middle aligned blue submit button"><i class="save icon"></i> Update</button>
        <div class="ui error message"></div>
      </form>
    </section>
  </div>
</div>

<script>
  $('.ui.form')
    .form({
      fields: {
        name: {
          identifier: 'name',
          rules: [
            {
              type: 'empty',
              prompt: 'Please enter your name'
            }
          ]
        },
        email: {
          identifier: 'email',
          rules: [
            {
              type: 'empty',
              prompt: 'Please enter your email'
            },
            {
              type: 'email',
              prompt: 'Please enter a valid e-mail'
            }
          ]
        },
        confirmPassword: {
          identifier: 'confirmPassword',
          rules: [
            {
              type: 'empty',
              prompt: 'Please confirm current/new password to update settings'
            },
            {
              type: 'match[password]',
              prompt: 'Password do not match'
            }
          ]
        }
      }
    })
  ;
</script>