{{> trainermenu id="members"}}

{{> searchMembers}}

<div class="ui container">
  <div class="ui centered four doubling stackable cards">
    {{#each allMembers}}
      <div class="ui link card">
        {{> listMembers}}
        <section class="center aligned content">
          <div class="ui dropdown teal button"><i class="options icon"></i>Options
            <i class="dropdown icon"></i>
            <section class="menu">
              <div class="item" data-modal="addAssessment{{#if id}}{{id}}{{/if}}"><i class="blue plus icon"></i>
                Add Assessment
              </div>
              {{> addAssessment}}
              <div class="item" data-modal="addBooking{{#if id}}{{id}}{{/if}}"><i class="blue plus icon"></i>
                Add Booking
              </div>
              {{> addBooking allTrainers=../allTrainers}}
              <div class="item" data-modal="addGoal{{#if id}}{{id}}{{/if}}"><i class="blue plus icon"></i>
                Add Goal
              </div>
              {{> addGoal}}
              <div class="item" data-modal="addFitnessProgramme{{#if id}}{{id}}{{/if}}"><i class="blue plus icon"></i>
                Add Programme
              </div>
              {{> addFitnessProgramme allClasses=../allClasses allRoutines=../allRoutines}}
              <a class="item" href="/trainerDashboard/delete/{{id}}"><i class="red delete icon"></i> Delete Member</a>
            </section>
          </div>
        </section>
        <script>
          $('.item').on('click', function(){
            // using the attribute data-modal to identify for what modal the button references
            modal = $(this).attr('data-modal');
            // creating the individual event attached to click over button
            $('#'+modal+'.modal').modal(
              'show'
            );
            // Bring up a calender for only time selection
            $('#dateOnly{{id}}').calendar({
              type: 'date',
              minDate: new Date(),
            });
            // Bring up calender for date and time selection
            $('#dateTime{{id}}').calendar({
              minDate: new Date(today.getFullYear(), today.getMonth(), today.getDate(), today.getHours() + 2),
              maxDate: new Date(today.getFullYear() + 1 , today.getMonth(), today.getDate(), 22),
              disableMinute: true,
            });
          });
        </script>
      </div>
    {{/each}}
  </div>
</div>

{{> commonFormValidation}}